Package: debian-maintainers
Version: 1.9
Section: misc
Priority: extra
Architecture: all
Recommends: gnupg
Installed-Size: 364
Maintainer: Debian Maintainer Keyring Team <d-m-team@lists.alioth.debian.org>
Description: GPG keys of Debian maintainers
 The Debian project allows some people who are not Debian developers to
 maintain packages in the distribution, This package contains a keyring
 of GnuPG keys of these maintainers.
